In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [3]:
ser1 = Series(np.arange(3), index = ['A','B','C'])
ser1 = 2*ser1
ser1

A    0
B    2
C    4
dtype: int64

In [4]:
# select data
# by index
ser1['B']

2

In [6]:
# by position
ser1[1]

2

In [7]:
ser1[0:3]

A    0
B    2
C    4
dtype: int64

In [8]:
ser1[['A', 'B']]

A    0
B    2
dtype: int64

In [9]:
# selest by logic
ser1[ser1>2]

C    4
dtype: int64

In [12]:
# set by logic
ser1[ser1>2] = 12
ser1

A     0
B     2
C    12
dtype: int64

In [14]:
# With DataFrames
df = DataFrame(np.arange(25).reshape((5,5)), index=['NYC', 'SF', 'DC', 'CHI', 'LA'], columns=['A','B','C','D','E'])
df

      A   B   C   D   E
NYC   0   1   2   3   4
SF    5   6   7   8   9
DC   10  11  12  13  14
CHI  15  16  17  18  19
LA   20  21  22  23  24

In [15]:
# call by column
df['B']

NYC     1
SF      6
DC     11
CHI    16
LA     21
Name: B, dtype: int64

In [16]:
# call multiple columns
df[['A','E']]

      A   E
NYC   0   4
SF    5   9
DC   10  14
CHI  15  19
LA   20  24

In [17]:
# call by logic
df[df['C']>8]

      A   B   C   D   E
DC   10  11  12  13  14
CHI  15  16  17  18  19
LA   20  21  22  23  24

In [18]:
# Boolean dataframe
df > 10

         A      B      C      D      E
NYC  False  False  False  False  False
SF   False  False  False  False  False
DC   False   True   True   True   True
CHI   True   True   True   True   True
LA    True   True   True   True   True

In [19]:
# using ix
df.ix['LA']

A    20
B    21
C    22
D    23
E    24
Name: LA, dtype: int64

In [20]:
# using position
df.ix[1]

A    5
B    6
C    7
D    8
E    9
Name: SF, dtype: int64