In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
# think, wht is the information that you need
# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
dframe

         date variable     value
0  2000-01-03        A  1.487373
1  2000-01-04        A  1.776874
2  2000-01-05        A  0.084509
3  2000-01-03        B -0.300913
4  2000-01-04        B  0.811404
5  2000-01-05        B  2.135522
6  2000-01-03        C  0.058347
7  2000-01-04        C  0.428717
8  2000-01-05        C  0.100561
9  2000-01-03        D -0.825720
10 2000-01-04        D  1.323837
11 2000-01-05        D  0.593292

In [6]:
# give row and columns then fill
dframe_piv = dframe.pivot("date", "variable", "value")
dframe_piv

variable           A         B         C         D
date
2000-01-03  1.487373 -0.300913  0.058347 -0.825720
2000-01-04  1.776874  0.811404  0.428717  1.323837
2000-01-05  0.084509  2.135522  0.100561  0.593292