In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
ser1 = Series([2,np.nan,4,np.nan,6,np.nan],
             index=['Q','R','S','T','U','V'])
ser2 = Series(np.arange(len(ser1), dtype=np.float64),
             index=['Q','R','S','T','U','V'])
ser2[-1] = np.nan

In [6]:
ser1

Q     2
R   NaN
S     4
T   NaN
U     6
V   NaN
dtype: float64

In [7]:
ser2

Q     0
R     1
S     2
T     3
U     4
V   NaN
dtype: float64

In [8]:
# chose series 1, if ser 1 is ana chose ser2
Series(np.where(pd.isnull(ser1),ser2,ser1),index=ser1.index)

Q     2
R     1
S     4
T     3
U     6
V   NaN
dtype: float64

In [9]:
# the same can be done with pandas by using combine_first method
ser1.combine_first(ser2)

Q     2
R     1
S     4
T     3
U     6
V   NaN
dtype: float64

In [13]:
# now for data Frames
dfodd = DataFrame({'X': [1.,np.nan,3.,np.nan],
                  'Y': [np.nan, 5., np.nan,7.],
                  'Z': [np.nan, 9., np.nan, 11.]})
dfeven = DataFrame({'X': [2.,4.,np.nan, 6., 8.],
                  'Y': [np.nan,10., 12., 14., 16.]})

In [14]:
dfodd

    X   Y   Z
0   1 NaN NaN
1 NaN   5   9
2   3 NaN NaN
3 NaN   7  11

In [15]:
dfeven

    X   Y
0   2 NaN
1   4  10
2 NaN  12
3   6  14
4   8  16