In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [3]:
df = DataFrame({'k1': ['A','A','B','B','B'],
               'k2':[2,2,2,3,3]})
df

  k1  k2
0  A   2
1  A   2
2  B   2
3  B   3
4  B   3

In [4]:
# see which of the indexes are duplicated
df.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [5]:
# remove duplicated indexes
df.drop_duplicates()

  k1  k2
0  A   2
2  B   2
3  B   3

In [6]:
# specify which of the duplicated based on the column
df.drop_duplicates(['k1'], take_last=True)

  k1  k2
1  A   2
4  B   3