In [1]:
import numpy as np 
import pandas as pd

from pandas import Series,DataFrame

In [2]:
# conda install xlrd
# conda install openpyxl
xlsfile = pd.ExcelFile('lec28.xls')

In [3]:
df = xlsfile.parse('Sheet1')
df

   test  Unnamed: 1  Unnamed: 2
0    23        6678         456
1   234         678         456
2   234           7         345
3    34          56         234
4     5         456        4365

In [ ]:
# http://pandas.pydata.org/pandas-docs/stable/io.html