In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:

# DataFrame(body, row, column)
df1 = DataFrame(np.arange(8).reshape((2,4)),
               index=pd.Index(['LA','SF'], name='city'),
               columns=pd.Index(['A','B','C','D'], name='letter'))
df1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [4]:
# use stack to pivot columns into rows
dfst = df1.stack()
dfst

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [6]:
# unstack to regular table
dfst.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [7]:
# Unstack to a rotated table
dfst.unstack(0)

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [8]:
# or unstack and explicitly define form
dfst.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [9]:
dfst.unstack('letter')

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [14]:
# Series
# Series(body, index)
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser2 = Series([5,6,7,8], index=['C','D','G','H'])
df = pd.concat([ser1,ser2], keys=['Alpha','beta'])
df.unstack()

        A   B  C  D   G   H
Alpha   1   2  3  4 NaN NaN
beta  NaN NaN  5  6   7   8

In [15]:
df.unstack().stack()

Alpha  A    1
       B    2
       C    3
       D    4
beta   C    5
       D    6
       G    7
       H    8
dtype: float64

In [16]:
# unstack + stack and keep null values
df.unstack().stack(dropna= False)

Alpha  A     1
       B     2
       C     3
       D     4
       G   NaN
       H   NaN
beta   A   NaN
       B   NaN
       C     5
       D     6
       G     7
       H     8
dtype: float64