In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [5]:
df = DataFrame({'k1':['x','x','y','y','z'],
                'k2':['alpha','beta','alpha','beta','alpha'],
                'dataset1':np.random.randn(5),
                'dataset2':np.random.randn(5)})
df

   dataset1  dataset2 k1     k2
0 -0.581589  2.505126  x  alpha
1 -0.928075 -2.025944  x   beta
2 -0.165450  0.437304  y  alpha
3  0.299207 -0.333705  y   beta
4 -0.585425  0.485382  z  alpha

In [6]:
group1 = df['dataset1'].groupby(df['k1'])
group1

In [7]:
group1.mean()

k1
x   -0.754832
y    0.066878
z   -0.585425
Name: dataset1, dtype: float64

In [8]:
cities = np.array(['ny','la','la','ny','ny'])

month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [9]:
# lines up cities and months and give them dataset1
df['dataset1'].groupby([cities,month]).mean()

la  FEB   -0.928075
    JAN   -0.165450
ny  FEB    0.299207
    JAN   -0.583507
Name: dataset1, dtype: float64

In [10]:
df

   dataset1  dataset2 k1     k2
0 -0.581589  2.505126  x  alpha
1 -0.928075 -2.025944  x   beta
2 -0.165450  0.437304  y  alpha
3  0.299207 -0.333705  y   beta
4 -0.585425  0.485382  z  alpha

In [11]:
# group by X,Y,Z datasets and gives the mean
df.groupby('k1').mean()

    dataset1  dataset2
k1
x  -0.754832  0.239591
y   0.066878  0.051799
z  -0.585425  0.485382

In [13]:
df.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
x  alpha -0.581589  2.505126
   beta  -0.928075 -2.025944
y  alpha -0.165450  0.437304
   beta   0.299207 -0.333705
z  alpha -0.585425  0.485382

In [16]:
# size of each index
df.groupby(['k1']).size()

k1
x    2
y    2
z    1
dtype: int64

In [17]:
# iterate over groups
for name,group in df.groupby('k1'):
    print "this is group %s" %name
    print group
    print '\n'

this is group x
   dataset1  dataset2 k1     k2
0 -0.581589  2.505126  x  alpha
1 -0.928075 -2.025944  x   beta


this is group y
   dataset1  dataset2 k1     k2
2 -0.165450  0.437304  y  alpha
3  0.299207 -0.333705  y   beta


this is group z
   dataset1  dataset2 k1     k2
4 -0.585425  0.485382  z  alpha

In [18]:
for (k1,k2), group in df.groupby(['k1','k2']):
    print "key1 = %s -- key2 = %s" %(k1,k2)
    print group
    print "\n"

key1 = x -- key2 = alpha
   dataset1  dataset2 k1     k2
0 -0.581589  2.505126  x  alpha


key1 = x -- key2 = beta
   dataset1  dataset2 k1    k2
1 -0.928075 -2.025944  x  beta


key1 = y -- key2 = alpha
   dataset1  dataset2 k1     k2
2  -0.16545  0.437304  y  alpha


key1 = y -- key2 = beta
   dataset1  dataset2 k1    k2
3  0.299207 -0.333705  y  beta


key1 = z -- key2 = alpha
   dataset1  dataset2 k1     k2
4 -0.585425  0.485382  z  alpha

In [19]:
df

   dataset1  dataset2 k1     k2
0 -0.581589  2.505126  x  alpha
1 -0.928075 -2.025944  x   beta
2 -0.165450  0.437304  y  alpha
3  0.299207 -0.333705  y   beta
4 -0.585425  0.485382  z  alpha

In [26]:
group_dict = dict(list(df.groupby('k1')))
group_dict

{'x':    dataset1  dataset2 k1     k2
 0 -0.581589  2.505126  x  alpha
 1 -0.928075 -2.025944  x   beta, 'y':    dataset1  dataset2 k1     k2
 2 -0.165450  0.437304  y  alpha
 3  0.299207 -0.333705  y   beta, 'z':    dataset1  dataset2 k1     k2
 4 -0.585425  0.485382  z  alpha}

In [25]:
group_dict['x']

   dataset1  dataset2 k1     k2
0 -0.581589  2.505126  x  alpha
1 -0.928075 -2.025944  x   beta

In [31]:
group_dict_axis1 = dict(list(df.groupby(df.dtypes,axis=1)))
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -0.581589  2.505126
 1 -0.928075 -2.025944
 2 -0.165450  0.437304
 3  0.299207 -0.333705
 4 -0.585425  0.485382, dtype('O'):   k1     k2
 0  x  alpha
 1  x   beta
 2  y  alpha
 3  y   beta
 4  z  alpha}

In [33]:
# groupby with columns
dataset2_group = df.groupby(['k1','k2'])[['dataset2']]

# average all the groups with same keys and dataset
dataset2_group.mean()

          dataset2
k1 k2
x  alpha  2.505126
   beta  -2.025944
y  alpha  0.437304
   beta  -0.333705
z  alpha  0.485382

In [ ]:
# you can group in many different ways, and get some useful informationS