In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
my_ser = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
my_index = my_ser.index
my_index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [6]:
# index starts at 0
my_index[2]

'C'

In [7]:
my_index[2:]

Index([u'C', u'D'], dtype='object')

In [8]:
# Index in series are immutable, this is will throw error
my_index[0] = 'Z'

TypeError: Indexes does not support mutable operations

In [9]:
# Re-Indexing
from numpy.random import randn

In [11]:
ser1 = Series([1,2,3,4,5], index = ['A', 'B', 'C', 'D', 'E'])
ser1

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [14]:
# reindex, we can see it jsut gives it a null value
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
ser2

A     1
B     2
C     3
D     4
E     5
F   NaN
dtype: float64

In [16]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value = 0) # only for new indexes

A     1
B     2
C     3
D     4
E     5
F   NaN
G     0
dtype: float64

In [17]:
ser3 = Series(['USA', 'MEX', 'CAN'], index = [0,5,10])
ser3

0     USA
5     MEX
10    CAN
dtype: object

In [18]:
# other reindexing uses
ranger = range(15)
ser3.reindex(ranger)

0     USA
1     NaN
2     NaN
3     NaN
4     NaN
5     MEX
6     NaN
7     NaN
8     NaN
9     NaN
10    CAN
11    NaN
12    NaN
13    NaN
14    NaN
dtype: object

In [19]:
# forward filling the unasigned numbers
ser3.reindex(ranger,method='ffill')

0     USA
1     USA
2     USA
3     USA
4     USA
5     MEX
6     MEX
7     MEX
8     MEX
9     MEX
10    CAN
11    CAN
12    CAN
13    CAN
14    CAN
dtype: object

In [21]:
# indexing with dataframes
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'C', 'D', 'F'], columns=['1','2','3','4','5'])
dframe

          1         2         3         4         5
A -0.327674  0.029250  0.631332 -0.313637 -1.071519
B -1.707192 -0.027722 -0.675236 -0.254588  0.830020
C -0.050031 -0.773804 -0.954063  1.961477 -1.932707
D  2.466891  1.082061 -0.390241  1.118611 -1.249770
F  0.025522 -0.583467  0.051987  0.084942  0.641507

In [26]:
# add row to dataframe
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
dframe2

          1         2         3         4         5
A -0.327674  0.029250  0.631332 -0.313637 -1.071519
B -1.707192 -0.027722 -0.675236 -0.254588  0.830020
C -0.050031 -0.773804 -0.954063  1.961477 -1.932707
D  2.466891  1.082061 -0.390241  1.118611 -1.249770
E       NaN       NaN       NaN       NaN       NaN
F  0.025522 -0.583467  0.051987  0.084942  0.641507

In [27]:
# add col to dataframe
new_col = ['1','2','3','4','5','6']
dframe2.reindex(columns=new_col)

          1         2         3         4         5   6
A -0.327674  0.029250  0.631332 -0.313637 -1.071519 NaN
B -1.707192 -0.027722 -0.675236 -0.254588  0.830020 NaN
C -0.050031 -0.773804 -0.954063  1.961477 -1.932707 NaN
D  2.466891  1.082061 -0.390241  1.118611 -1.249770 NaN
E       NaN       NaN       NaN       NaN       NaN NaN
F  0.025522 -0.583467  0.051987  0.084942  0.641507 NaN

In [30]:
# faster way to reindex, pass rows and columns using ix method
dframe.ix[['A', 'B', 'C', 'D', 'E', 'F'], new_col]

          1         2         3         4         5   6
A -0.327674  0.029250  0.631332 -0.313637 -1.071519 NaN
B -1.707192 -0.027722 -0.675236 -0.254588  0.830020 NaN
C -0.050031 -0.773804 -0.954063  1.961477 -1.932707 NaN
D  2.466891  1.082061 -0.390241  1.118611 -1.249770 NaN
E       NaN       NaN       NaN       NaN       NaN NaN
F  0.025522 -0.583467  0.051987  0.084942  0.641507 NaN