In [3]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame
from numpy.random import randn

In [4]:
# two levels of indexes
ser = Series(randn(6), index = [[1,1,1,2,2,2], ['a','b','c','a','b','c']])
ser

1  a   -0.660791
   b    0.270086
   c   -0.223699
2  a    0.929194
   b   -1.253901
   c   -1.107848
dtype: float64

In [5]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
# calling first level index
ser[1]

a   -0.660791
b    0.270086
c   -0.223699
dtype: float64

In [7]:
# second level index
ser[1]['a']

-0.66079114864855915

In [8]:
# all in lower index level
ser[:,'a']

1   -0.660791
2    0.929194
dtype: float64

In [10]:
# DataFrames
df = ser.unstack()
df

          a         b         c
1 -0.660791  0.270086 -0.223699
2  0.929194 -1.253901 -1.107848

In [17]:
# data frame with multiple indexes
df2 = DataFrame(np.arange(16).reshape(4,4), index=[['a','b','a','b'], [1,1,2,2]], columns=[['NY','NY','SF','SF'],
                                                                                         ['cold','cold','hot','hot']])
df2

      NY       SF
    cold cold hot hot
a 1    0    1   2   3
b 1    4    5   6   7
a 2    8    9  10  11
b 2   12   13  14  15

In [18]:
# name index rows and columns
df2.index.names = ['Index1', 'Index2']
df2.columns.names = ['Cities', 'Temp']
df2

Cities          NY       SF
Temp          cold cold hot hot
Index1 Index2
a      1         0    1   2   3
b      1         4    5   6   7
a      2         8    9  10  11
b      2        12   13  14  15

In [19]:
# Swap index levels
df2.swaplevel('Cities', 'Temp', axis=1)

Temp          cold     hot
Cities          NY  NY  SF  SF
Index1 Index2
a      1         0   1   2   3
b      1         4   5   6   7
a      2         8   9  10  11
b      2        12  13  14  15

In [21]:
# sort row indexes
df2.sortlevel(0)

Cities          NY       SF
Temp          cold cold hot hot
Index1 Index2
a      1         0    1   2   3
       2         8    9  10  11
b      1         4    5   6   7
       2        12   13  14  15

In [22]:
df2.sortlevel(1)

Cities          NY       SF
Temp          cold cold hot hot
Index1 Index2
a      1         0    1   2   3
b      1         4    5   6   7
a      2         8    9  10  11
b      2        12   13  14  15

In [23]:
# Operations on certain levels
df2.sum(level='Temp', axis=1)

Temp           cold  hot
Index1 Index2
a      1          1    5
b      1          9   13
a      2         17   21
b      2         25   29